:root {
  /*  Font family */
  --ff--primary: "Poppins", sans-serif;

  /* Font Size */
  --fs--regular: 16px;

  /*  Font Weights */
  --fw--bold-1: 400;
  --fw--bold-2: 500;
  --fw--bold-3: 600;
  --fw--bold-4: 700;
}
